/****** BASE STYLES ******/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora" !important, serif !important;
  color: #2b2b2b;
  height: 100%;
}
/****** HEADER ******/

.img-fluid {
  width: 100%;
}

#hero-text {
  font-family: "Lora", serif;
  margin-top: -37%;
  font-size: 1.5rem;
  text-align: right;
}

/****** NAV BAR ******/
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  color: #cb997e;
  font-size: 1.5rem;
  font-weight: 700;
}

#mainNavbar .nav-link {
  color: #a5a58d;
  font-weight: 400;
}

#mainNavbar .nav-link:hover {
  color: #6b705c;
  font-weight: 700;
}

.navbar.scrolled {
  background-color: #bbc085;
  opacity: 0.6;
  transition: background 500ms;
  font-weight: 900;
}

/****** HOME ******/
#home {
  height: 20%;
}
/****** ABOUT ******/
#about {
  height: 40%;
  margin-top: 40%;
  padding: 5%;
}
/****** WORK ******/
#work {
  height: 40%;
  margin: 10% 0;
  padding: 5%;
  background-color: #f9ceb7;
}

#work .icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 40px;
  line-height: 50px;
  color: black;
  width: 50px;
  height: 50px;
}

.work-header {
  text-align: center;
  margin-top: 3%;
}

.work-content {
  margin-top: 3%;
}
/****** CONTACT ******/
#contact {
  height: 40%;
  margin: 10% 0;
  padding: 5%;
}

#contact-me-header {
  font-size: 2rem;
  margin-bottom: 3%;
}

#message {
  margin-top: 3%;
}

#submit {
  background-color: #a5a58d;
  margin-top: 3%;
  text-align: center;
}
/****** FOOTER ******/
footer {
  height: 10%;
  text-align: center;
}

#envelope {
  margin-right: 10%;
}

#linkedin {
  margin-right: 10%;
}

@media (max-width: 500px) {
  #hero-text {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  #hero-text {
    font-size: 2rem;
  }
}
